<h2 *ngIf="!showIf" class="ajax-loading-animation">
    <i class="fa fa-cog fa-spin"></i> {{loadMessage}}</h2>
<div *ngIf="showIf" [@fadeInAnimation]='state'>
    <div class="card">
        <div class="card-header" *ngIf="title || iconClass || headerTemplate || showFilter">
            <div class="d-flex flex-row p-0">

                <span>
                    <i class="{{iconClass}}"></i>
                    <b>{{title}}</b>
                </span>

                <div class="d-flex ml-auto">
                    <div *ngIf="headerTemplate">
                        <ng-template [ngTemplateOutlet]="headerTemplate">
                        </ng-template>
                    </div>

                    <div *ngIf="showFilter" class=" mr-3 ml-3">
                    <div  class="input-group">
                            <span class="input-group-addon input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </span>
                            <input [formControl]="filterControl" type="text" placeholder="Filter the items">
                        </div>
                </div>
                    <button *ngIf="showCloseButton" type="button" class="close ml-2" (click)="doClose()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

        
            </div>
        </div>

        <div class="card-header bg-light" *ngIf="subtitleTemplate || subtitle || toolsTemplate">
                <div class="d-flex flex-row">
                    <div class="card-subtitle">{{subtitle}}</div>
                    <ng-template [ngTemplateOutlet]="subtitleTemplate">
                    </ng-template>
                    <div class="d-flex ml-auto">
                        <ng-template [ngTemplateOutlet]="toolsTemplate">
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="card-header" *ngIf="subheaderTemplate">
                <ng-template [ngTemplateOutlet]="subheaderTemplate">
                </ng-template>
            </div>
    

        <div class="card-body" [ngClass]="{'px-0 py-0': !padding}">
            <ng-content></ng-content>
        </div>

        <div *ngIf="footerTemplate" class="card-footer">
            <ng-template [ngTemplateOutlet]="footerTemplate">
            </ng-template>
        </div>

    </div>
</div>