.table-loader-container {
    margin: 30px;
  }
  .table-loader {
    display: inline-flex;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: loader-spin 2s linear infinite;
    animation: loader-spin 2s linear infinite;
  }

  .table-loader-text {
    margin-left: 20px;
    display: inline-flex;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  @-webkit-keyframes loader-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }