<div>
    <label *ngIf="label" [for]="id">
        {{label}}
        <a class="btn btn-outline-primary btn-sm" *ngIf="!hideToggle" (click)='toggleState()'>{{isHidden == true ? 'Edit' : 'Hide'}}</a>
        <ng-content></ng-content>
    </label>
    <div [@slideDown]="isHidden ? 'hide' : 'show'">
        <div class="input-group">
            <div *ngIf="labelLeft" class="input-group-prepend">
                <span class="input-group-text" [ngClass]="{'border-0 rounded-0': !border}"> {{labelLeft}}</span>
            </div>
    
            <textarea class="form-control" [id]="id" [disabled]="disabled" [rows]="rows" [(ngModel)]="value" (ngModelChange)="hasChanged($event)" [placeholder]="placeholder"
                [ngClass]="{'is-invalid': errors}"></textarea>
            <div *ngIf="iconClass" class="input-group-append">
                <span class="input-group-text">
                    <i *ngIf="iconClass" class="icon-append {{iconClass}}"></i>
                </span>
            </div>
            <div *ngIf="showCopy" class="input-group-append">
                <button class="input-group-text" (click)="copy()">
                    Copy
                </button>
            </div>
            <div for="inputValue" *ngIf="errors" class="invalid-feedback">
                {{ errors }}
            </div>
        </div>
        <small for="inputValue" *ngIf="note" class="form-text text-muted">
            {{note}}
        </small>
    </div>
    <div *ngIf="showPreview && value">
        <label *ngIf="!isHidden">Preview</label>
        <div class="border rounded p-2">
            <markdown *ngIf="value" (click)="getRoute($event)" [data]="value"></markdown>
        </div>
    </div>
</div>