
<div [ngClass]="{'form-group': border}">
    <label *ngIf="label" [for]="id" >{{label}}
        <ng-content></ng-content>
    </label>
    
    <div #dropdown dropdown [autoClose]="false" class="input-group" style="width: 100%" >
            <div class="input-group" [id]="id" dropdownToggle (click)="dropdown.autoClose=false"  style="width: 100%">
                <input disabled class="form-control bg-white" [value]="selectedName"  [ngClass]="{'border-top-0 border-bottom-0 border-left-0': !border, 'is-invalid': errors, 'is-valid': !errors && isDirty}"/>
                <div class="input-group-append">
                    <span class="input-group-text" [ngClass]="{'border-0 rounded-0': !border}">
                        <i class="icon-append fa fa-caret-down"></i>
                    </span>
                </div>
                <div *ngIf="errors" class="invalid-feedback">
                        {{ errors }}
                </div>
            </div>


        <ul *dropdownMenu  class="dropdown-menu scrollable-menu" role="menu" style="width:100%">
            <label *ngIf="enableTextEntry" class="input dropdown-header scrollable-menu-fixed  p-1">
                <div class="input-group">
                    <input type="text" class="form-control" [formControl]="manualControl" [placeholder]="textEntryNote" (keyup.enter)="onTextEntryEnter($event)" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="icon-append fa fa-at"></i>
                        </span>
                    </div>
                </div>
            </label>

            <div *ngIf="enableFilter" class="dropdown-header scrollable-menu-fixed p-1">
                <div class="input-group">
                    <input type="search" class="form-control" [formControl]="filterControl" placeholder="Filter list..." tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" style="width: 300px">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>

            <ng-template [ngIf]="items">
                <li *ngIf="allowNullSelect" >
                    <a class="dropdown-item" [ngClass]="{'active': selectedItem == item}" (click)="selectItem(null)">{{selectNullMessage}}</a>
                </li>

                <ng-template [ngIf]="!childItems && !grandChildItems">
                    <li *ngFor="let item of sortedItems | filter: itemName: filterString"  class="scrollable-item" >
                        <a class="dropdown-item" [ngClass]="{'active': selectedItem == item}"  (click)="selectItem(item)" [title]="itemTitle && childItem ? childItem[itemTitle] : ''"> {{itemName && item ? item[itemName] : item}}</a>
                    </li>
                </ng-template>

                <ng-template [ngIf]="childItems && !grandChildItems">
                    <ng-template ngFor let-item [ngForOf]="sortedItems">
                            <ng-template ngFor let-childItem [ngForOf]="item[childItems] | filter: itemName: filterString" let-i="index">
                                <li  *ngIf="i == 0" class="list-group-item list-group-item-heading list-group-item-info" >{{item[parentName]}}</li>

                                <li  class="scrollable-item" >
                                    <a  class="dropdown-item" [ngClass]="{'active': selectedItem == childItem}" (click)="selectItem(childItem)" [title]="itemTitle && childItem ? childItem[itemTitle] : ''"> &nbsp;{{itemName && childItem ? childItem[itemName] : childItem}}</a>
                                </li>
                            </ng-template>
                    </ng-template>
                </ng-template>

                <ng-template [ngIf]="grandChildItems && sortedItems">
                    <ng-template ngFor let-item [ngForOf]="sortedItems">
                            <ng-template [ngIf]="item[childItems].length > 0">
                            <li class="list-group-item list-group-item-heading list-group-item-info" ><b>{{item[grandParentName]}}</b></li>
                            <ng-template ngFor let-childItem [ngForOf]="item[childItems]">
                                <ng-template ngFor let-grandChildItem of [ngForOf]="childItem[grandChildItems] | filter: itemName: filterString" let-i="index">
                                    <li *ngIf="i == 0" class="list-group-item list-group-item-heading list-group-item-info" >{{childItem[parentName]}}</li>

                                    <li  class="scrollable-item">
                                        <a  class="dropdown-item" [ngClass]="{'active': selectedItem == grandChildItem}" (click)="selectItem(grandChildItem)" [title]="itemTitle && grandChildItem ? grandChildItem[itemTitle] : ''"> &nbsp;{{itemName && grandChildItem ? grandChildItem[itemName] : grandChildItem}}</a>
                                    </li>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                    </ng-template>
                </ng-template>
            </ng-template>
        </ul>
        <ng-template></ng-template>
</div>
    <small *ngIf="note" class="form-text text-muted">
        {{note}}
    </small>     

</div>