<div class="form-group">
    <label *ngIf="label" [for]="id">
        {{label}}
        <a class="btn btn-outline-primary btn-sm" *ngIf="!hideToggle" (click)='toggleState()'>{{isHidden == true ? 'Edit' : 'Hide'}}</a>
        <ng-content></ng-content>
    </label>
    <div [@slideDown]='state'>
        <div class="input-group">
            <textarea class="form-control" [id]="id" [disabled]="disabled" [rows]="rows" [(ngModel)]="value" (ngModelChange)="hasChanged($event)" [placeholder]="placeholder"
                [ngClass]="{'is-invalid': errors}"></textarea>
            <div *ngIf="iconClass" class="input-group-append">
                <span class="input-group-text">
                    <i *ngIf="iconClass" class="icon-append {{iconClass}}"></i>
                </span>
            </div>
            <div for="inputValue" *ngIf="errors" class="invalid-feedback">
                {{ errors }}
            </div>
        </div>
        <small for="inputValue" *ngIf="note" class="form-text text-muted">
            {{note}}
        </small>
    </div>
    <div>
        <span *ngIf="!isHidden">Preview</span>
        <div>
            <markdown *ngIf="value" [data]="value"></markdown>
        </div>
    </div>
</div>