<div style="width: 300">
    <label class="label">{{label}}
        <ng-content></ng-content>
    </label>
    <label class="input" [ngClass]="{'state-error' : errors}">
        <div class="no-padding form-inline">
        <div class="no-padding form-group ">
            <div class="col-lg-3">
        <input type="number" class="form-control input-sm" style="width:80px" [(ngModel)]="hours" (ngModelChange)="hasChanged($event)"  placeholder="HH" required max="23" min="0"  >
        <label class="sronly">Hours</label> 
        </div>
        </div>
        <div class="no-padding form-group">
            <div class="col-lg-3">
        <input type="number" class="form-control input-sm" style="width:80px" [(ngModel)]="minutes" (ngModelChange)="hasChanged($event)"  placeholder="MM" required max="59" min="0"  >
            <label class="sronly">Minutes</label> 
            </div>
        </div>
        <div class="no-padding form-group">
        <div class="col-lg-3">
        <input type="number" class="form-control input-sm" style="width:80px" [(ngModel)]="seconds" (ngModelChange)="hasChanged($event)"  placeholder="SS" required max="59" min="0" >
            <label class="sronly">Seconds</label> 
        </div>
        </div>
    </div>
    </label>
    <em *ngIf="errors" class="invalid">
        {{ errors }}
    </em>
    <div *ngIf="note" class="note">
        {{note}}
    </div>
</div>