/*
This is workaround due to he dropdown-menu-right not working due to issue: 
https://github.com/valor-software/ngx-bootstrap/issues/4226
*/
.dropdown-menu-right {
  right: 0 !important;
  left: auto !important; 
}