<div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="autoClose" [isOpen]="isOpen" (isOpenChange)="openChange($event)" placement="bottom right">
  <button dropdownToggle type="button" 
    [disabled]="disabled" class="btn {{buttonClass}}" [ngClass]="{'dropdown-toggle': !hideCarrot}" [title]="title">
    <i *ngIf="busy" class="fa fa-spin fa-cog"></i>
    <i [class]="iconClass"></i>
    <span *ngIf="!compact" class="d-none d-md-inline">
        &nbsp;{{text}}        
    </span>
    <span *ngIf="badge" class="badge" [ngClass]="[badgeClass]">{{badge}}</span>
  </button>
  <ul *dropdownMenu class="p-0 dropdown-menu" [ngClass]="{'dropdown-menu-right': pullRight}">
    <ng-content></ng-content>
  </ul>
</div>
