<div dropdown class="btn-group">
  <button dropdownToggle [disabled]="disabled" [ngClass]="['btn', 'btn-sm', 'dropdown-toggle', buttonClass]" [title]="title">
    <i *ngIf="busy" class="fa fa-spin fa-cog"></i>
    <i [class]="iconClass"></i>
    <span class="hidden-sm hidden-xs">
        &nbsp;{{text}}
    </span>
    <i class="fa fa-caret-down"></i>
  </button>
  <ul *dropdownMenu [ngClass]="['dropdown-menu']" [class.pull-right]="pullRight" >
    <ng-content></ng-content>
  </ul>
</div>

