<div dropdown class="btn-group">
  <button type="button" (click)="onClick($event)" [disabled]="disabled" [ngClass]="['btn', 'btn-primary', buttonClass]" [title]="title">
    <i *ngIf="busy" class="fa fa-spin fa-cog"></i>
    <i [class]="iconClass"></i>
    <span class="d-none d-md-inline">
        &nbsp;{{text}}
    </span>
  </button>  
  <button type="button" dropdownToggle [disabled]="disabled" [ngClass]="['btn', 'btn-primary', 'dropdown-toggle', buttonClass]" title="Options">
    <i *ngIf="busy" class="fa fa-spin fa-cog"></i>
  </button>
  <ul *dropdownMenu class="dropdown-menu" [class.pull-right]="pullRight" >
    <ng-content></ng-content>
  </ul>
</div>

